repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=51200']
  - id: check-ast
  - id: check-json
  - id: check-toml
  - id: check-xml
  - id: check-yaml
    exclude: ^kubernetes/
  - id: debug-statements
  - id: requirements-txt-fixer

- repo: https://github.com/timothycrosley/isort
  rev: 5.13.2
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files", "--line-length=120"]

- repo: https://github.com/psf/black
  rev: 24.1.1
  hooks:
  - id: black
    args: ["--line-length=120"]
    #language_version: python3.11

- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    entry: bash -c 'flake8 "$@" || true' --
    args: [--max-line-length=120]
    verbose: true

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.7
  hooks:
  - id: bandit
    entry: bash -c 'bandit "$@" || true' --
    